.sh-react-line-chart{
    position:relative;

    .react-line-chart-container{
        position:relative;
        height:100%;
        width:100%;
    }

    .data-point{
        cursor:pointer;
        &:hover{
            stroke-width:3px;
            stroke:#4599CC;
        }
    }
}